html,body 
{
height: 100%;
width: 100%;
overflow: auto;
}

body 
{
background-color: #fff;
color: #000;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 0.75em;
 cursor: url('../../IMG/Volant.jpg.cur'), pointer; 
}

#header1 
{
position: absolute;
top: 0;
left: 0;
width: 50%;
height: 14em;
background-color: #fff;
border : 5px black solid;


}

#header2
{
position: absolute;
top: 0;
left: 50%;
width: 49%;
height: 14em;
background-color: #fff;
border : 5px black solid;
}

#bottom1
{
position: absolute;
z-index:3;
top:100%;
left: 0;
width: 50%;
height: 14em;
background-color: #fff;
border : 5px black solid;
}
#carre_bas1
{
position: absolute;
z-index: 8;
top: 100%;
left: 0;
width: 10em;
height: 14em;
background-color: #fff;
border-right: 5px black solid;
}
#carre_bas2
{
position: absolute;
z-index: 8;
top: 100%;
right: -4.7%;
width: 10em;
height: 14em;
background-color: #fff;
background-position: left;
border-left: 5px black solid;
border-right: 5px black solid;
border-bottom: 5px black solid;
}

#bottom2
{
position: absolute;
z-index:3;
top:100%;
left:50%;
width: 49%;
height: 14em;
background-color: #fff;
border : 5px black solid;

}

#couloir1 
{
position: absolute;
z-index:4;
top: 0;
left: 0;
width: 10em;
height: 100%;
border : 5px black solid;
}

#couloir2 
{
position: absolute;
z-index:4;
top: 0;
right: 0;
width: 10em;
height: 100%;
border : 5px black solid;
}
#carre
{
position: absolute;
top: 0;
right: 0;
width: 10em;
height: 14em;
background-color: #fff;
border-left : 5px black solid;
border-bottom : 5px black solid;
}

#court
{
position:absolute;
z-index:1;
width:100%;
height: 400%
}

#zone1
{
position: absolute;
z-index:5;
top:0;
left:0;
width:50%;
height: 45%;
border-bottom :5px black solid;
border-right: 5px black solid;
}
#zone2
{
position: absolute;
z-index:5;
top:0;
right:0;
width:50%;
height: 45%;
border-bottom :5px black solid;
}
#zone3
{
position: absolute;
z-index:5;
bottom:0%;
left:0;
width:50%;
height: 35%;
border-top :5px black solid;
border-right: 5px black solid;
}
#zone4
{
position: absolute;
z-index:5;
bottom:0%;
left:50%;
width:50%;
height: 35%;
border-top :5px black solid;

}
#poteaux
{
position: absolute;
z-index:4.6;
bottom:43%;
right:0;
width :99%;
border-left:10px black double ;
border-right: 10px black double ;
border-top: 21px black double;
height: 9%;
background: #fff;
-webkit-transform: skew(1deg);
}

#poteaux td
{
	border : 1px black solid;
	height : 2.5px;
	width : 2.5px;
	
}
#poteaux div
{
	opacity: 0.25;
}

#net_top
{
	-webkit-transform: skew(5deg);
	-moz-transform: skew(5deg);
	-o-transform: skew(5deg);
}
#net_mid
{
	
}
#net_bot
{
	border-bottom:11px black double;
	-webkit-transform: skew(5deg);
	-moz-transform: skew(5deg);
	-o-transform: skew(5deg);
}
#net_right
{
	-webkit-transform: skew(-5deg);
	-moz-transform: skew(-5deg);
	-o-transform: skew(-5deg);
}